.header {
  background-position: bottom right;
  background-repeat: no-repeat;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media only screen and (max-width: 106.2em) {
  html {
    font-size: 58%;
  }
}

@media only screen and (max-width: 80em) {
  html {
    font-size: 55%;
  }
}

@media only screen and (max-width: 61.8em) {
  html {
    font-size: 55%;
  }
}

@media only screen and (max-width: 47.8em) {
  html {
    font-size: 52%;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
}

html,
body {
  width: 100%;
  height: auto;
  overflow-x: hidden;
}

a:link,
a:visited {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  width: 65%;
  margin: auto;
  position: relative;
  height: 100%;
}

@media only screen and (max-width: 106.2em) {
  .container {
    width: 75%;
  }
}

@media only screen and (max-width: 80em) {
  .container {
    width: 80%;
  }
}

@media only screen and (max-width: 61.8em) {
  .container {
    width: 90%;
  }
}

@media only screen and (max-width: 47.8em) {
  .container {
    width: 100%;
  }
}

.row {
  display: flex;
}

@media only screen and (max-width: 47.8em) {
  .row {
    flex-direction: column;
  }
}

.btn {
  border-radius: 2.6rem;
  -webkit-border-radius: 2.6rem;
  -moz-border-radius: 2.6rem;
  -ms-border-radius: 2.6rem;
  -o-border-radius: 2.6rem;
  padding: 1.5rem 4rem;
  color: #292929;
  font-size: 1.7rem;
  font-family: Georgia;
  border: none;
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
}

.btn--filled {
  background-color: #f1cdb3;
  color: #292929;
}

.btn--filled:hover {
  cursor: pointer;
  background-color: #fad5bb;
  transform: translateY(-1px);
  -webkit-transform: translateY(-1px);
  -moz-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  -o-transform: translateY(-1px);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.btn--outline {
  background-color: transparent;
  color: #292929;
  border: 1px solid #f1cdb3;
}

.btn--outline:hover {
  cursor: pointer;
  background-color: #f1cdb3;
  transform: translateY(-1px);
  -webkit-transform: translateY(-1px);
  -moz-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  -o-transform: translateY(-1px);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.btn:focus {
  outline: none;
}

.logo {
  position: absolute;
  top: 1rem;
  left: 0;
}

@media only screen and (max-width: 47.8em) {
  .logo {
    left: 3rem;
  }
}

.logo--main {
  color: #f1cdb3;
  font-size: 3.2rem;
  letter-spacing: 1.13px;
  text-transform: capitalize;
  margin-bottom: 0.8rem;
}

.logo--sub {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  color: #fff;
  letter-spacing: 1.2px;
}

.heading-primary__btn {
  font-weight: 400;
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.heading-primary--main {
  display: block;
  width: 80%;
  color: #fff;
  font-size: 4.4rem;
  font-weight: 400;
  letter-spacing: 2.64px;
  line-height: 5.7rem;
  margin-bottom: 4.6rem;
  animation: moveInLeft 1s ease-out;
}

@media only screen and (max-width: 106.2em) {
  .heading-primary--main {
    width: 100%;
  }
}

.heading-primary--sub {
  display: block;
  color: #cdcdcd;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  line-height: 2.4rem;
  margin-bottom: 4.4rem;
  animation: moveInRight 1s ease-out;
}

.section {
  padding: 10rem 0;
}

@media only screen and (max-width: 106.2em) {
  .section {
    padding: 8rem 0;
  }
}

@media only screen and (max-width: 80em) {
  .section {
    padding: 7rem 0;
  }
}

@media only screen and (max-width: 61.8em) {
  .section {
    padding: 7rem 2rem;
  }
}

@media only screen and (max-width: 47.8em) {
  .section {
    margin: 5rem 2rem;
  }
}

@media only screen and (max-width: 30.4em) {
  .section {
    margin: 0;
  }
}

.section-title {
  color: #545454;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 4.5rem;
  letter-spacing: 0.2rem;
}

@media only screen and (max-width: 106.2em) {
  .section-title {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 80em) {
  .section-title {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 61.8em) {
  .section-title {
    line-height: 3rem;
  }
}

.col {
  width: 50%;
}

@media only screen and (max-width: 47.8em) {
  .col {
    width: 100%;
  }
}

.card-info__description {
  color: #545454;
  font-size: 1.5rem;
  letter-spacing: 0.9px;
  margin-top: 2rem;
}

@media only screen and (max-width: 47.8em) {
  .card-info__description {
    text-align: center;
  }
}

.card-info__number {
  background-color: #f1cdb3;
  border-radius: 0.9rem;
  -webkit-border-radius: 0.9rem;
  -moz-border-radius: 0.9rem;
  -ms-border-radius: 0.9rem;
  -o-border-radius: 0.9rem;
  width: fit-content;
  padding: 1rem 1.5rem;
  font-size: 1.8rem;
  font-family: "Times New Roman";
  letter-spacing: 0.12rem;
  display: flex;
  align-items: center;
  margin-top: 1.3rem;
}

@media only screen and (max-width: 47.8em) {
  .card-info__number {
    margin: 2rem auto;
  }
}

.card-info__icon {
  margin-right: 1.5rem;
  width: 4rem;
  height: 3rem;
}

.card-info__legal {
  color: #b2b2b2;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 1.2rem;
  width: 55%;
  margin-top: 2rem;
}

@media only screen and (max-width: 106.2em) {
  .card-info__legal {
    width: 75%;
  }
}

@media only screen and (max-width: 80em) {
  .card-info__legal {
    width: 80%;
  }
}

@media only screen and (max-width: 47.8em) {
  .card-info__legal {
    text-align: justify;
    margin: 0 auto;
  }
}

.line {
  width: 3rem;
  height: 0.3rem;
  background-color: #f1cdb3;
  margin-bottom: 0.5rem;
}

.header {
  min-height: 100vh;
  display: flex;
  background-image: url(../src/img/bg-dog-largest.png), linear-gradient(to right bottom, #584a41, #2f2825, #1b1b1d, #1b1b1d);
}

@media only screen and (max-width: 106.2em) {
  .header {
    background-image: url(../src/img/bg-dog-large.png), linear-gradient(to right bottom, #584a41, #2f2825, #1b1b1d, #1b1b1d);
  }
}

@media only screen and (max-width: 80em) {
  .header {
    background-image: url(../src/img/bg-dog-medium.png), linear-gradient(to right bottom, #584a41, #2f2825, #1b1b1d, #1b1b1d);
  }
}

@media only screen and (max-width: 61.8em) {
  .header {
    background-image: url(../src/img/bg-dog-small.png), linear-gradient(to right bottom, #584a41, #2f2825, #1b1b1d, #1b1b1d);
  }
}

@media only screen and (max-width: 47.8em) {
  .header {
    background-image: url(../src/img/bg-dog-smallest.png), linear-gradient(to right bottom, #584a41, #2f2825, #1b1b1d, #1b1b1d);
  }
}

.header__nav {
  height: 8rem;
  position: fixed;
  width: 100%;
  z-index: 25;
  background: linear-gradient(to right, rgba(83, 69, 61, 0.7), rgba(66, 56, 50, 0.7), rgba(53, 46, 42, 0.7), rgba(46, 40, 37, 0.7), rgba(36, 32, 32, 0.7));
}

@media only screen and (max-width: 47.8em) {
  .header {
    position: relative;
  }
}

.header__menu {
  display: flex;
  list-style: none;
  width: 50%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
}

@media only screen and (max-width: 47.8em) {
  .header__menu {
    position: fixed;
    background: linear-gradient(to right bottom, rgba(88, 74, 65, 0.98), rgba(47, 40, 37, 0.98), rgba(44, 38, 36, 0.98), rgba(41, 36, 35, 0.98), rgba(27, 27, 29, 0.98));
    height: 100vh;
    width: 100%;
    flex-direction: column;
    z-index: 15;
    right: -100%;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    pointer-events: none;
    justify-content: center;
  }
}

.header__menu-link {
  text-decoration: none;
  color: #cdcdcd;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

@media only screen and (max-width: 47.8em) {
  .header__menu-link {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.12rem;
    line-height: 10rem;
  }
}

.header__menu-link:hover {
  color: #fff;
  border-bottom: 2px solid #f1cdb3;
}

.header__menu.open {
  right: 0;
  pointer-events: all;
}

.header__burger-menu {
  display: none;
}

@media only screen and (max-width: 47.8em) {
  .header__burger-menu {
    display: block;
    position: fixed;
    cursor: pointer;
    right: 5%;
    top: 3%;
    transform: translate -3%, -5%;
    -webkit-transform: translate -3%, -5%;
    -moz-transform: translate -3%, -5%;
    -ms-transform: translate -3%, -5%;
    -o-transform: translate -3%, -5%;
    z-index: 20;
  }
}

.header__text-box {
  align-items: center;
  width: 35%;
}

@media only screen and (max-width: 106.2em) {
  .header__text-box {
    width: 30%;
  }
}

@media only screen and (max-width: 61.8em) {
  .header__text-box {
    width: 50%;
  }
}

@media only screen and (max-width: 47.8em) {
  .header__text-box {
    width: 80%;
    padding: 0 3rem;
    top: 35%;
  }
}

@media only screen and (max-width: 30.4em) {
  .header__text-box {
    width: 100%;
    text-align: center;
    padding: 0 4rem;
  }
}

.about-section__img {
  margin-right: 4rem;
}

@media only screen and (max-width: 47.8em) {
  .about-section__img {
    margin-right: unset;
    width: 30%;
    margin-bottom: 2rem;
  }
}

.about-section__title {
  width: 50%;
  margin-bottom: 3.7rem;
}

@media only screen and (max-width: 106.2em) {
  .about-section__title {
    width: 70%;
  }
}

@media only screen and (max-width: 47.8em) {
  .about-section__title {
    width: 100%;
    text-align: center;
  }
}

@media only screen and (max-width: 47.8em) {
  .about-section__title {
    margin-bottom: 2rem;
  }
}

.about-section__text {
  width: 70%;
  font-size: 1.5rem;
  color: #4c4c4c;
  line-height: 2.4rem;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 106.2em) {
  .about-section__text {
    width: 85%;
  }
}

@media only screen and (max-width: 61.8em) {
  .about-section__text {
    width: 100%;
  }
}

@media only screen and (max-width: 47.8em) {
  .about-section__text {
    text-align: justify;
  }
}

.about-section__col--left {
  text-align: center;
}

.about-section__col--right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pets-section {
  background-color: #f6f6f6;
}

.pets-section__title {
  text-align: center;
  margin-bottom: 6rem;
}

@media only screen and (max-width: 47.8em) {
  .pets-section__title {
    width: 70%;
    margin: 3rem auto;
  }
}

.pets-section__btn {
  display: block;
  margin: 0 auto;
  margin-top: 6rem;
}

.help-section__title {
  margin: auto;
  width: 30%;
  text-align: center;
}

@media only screen and (max-width: 106.2em) {
  .help-section__title {
    width: 100%;
  }
}

.help-section__main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.help-section__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 22rem;
  margin-top: 8rem;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

@media only screen and (max-width: 106.2em) {
  .help-section__item {
    width: 18rem;
  }
}

@media only screen and (max-width: 80em) {
  .help-section__item {
    width: 16rem;
  }
}

@media only screen and (max-width: 61.8em) {
  .help-section__item {
    width: 13.5rem;
  }
}

@media only screen and (max-width: 47.8em) {
  .help-section__item {
    width: 12rem;
  }
}

.help-section__item:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.help-section__icon {
  fill: #f1cdb3;
  margin-bottom: 2.8rem;
  height: 5.8rem;
  width: auto;
}

@media only screen and (max-width: 80em) {
  .help-section__icon {
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 61.8em) {
  .help-section__icon {
    height: 4.5rem;
    margin-bottom: 1.5rem;
  }
}

.help-section__name {
  font-size: 2rem;
  color: #545454;
  letter-spacing: 1.2px;
  text-align: center;
}

@media only screen and (max-width: 106.2em) {
  .help-section__name {
    font-size: 1.7rem;
  }
}

@media only screen and (max-width: 61.8em) {
  .help-section__name {
    font-size: 1.5rem;
  }
}

.donation-section__title {
  width: 60%;
}

@media only screen and (max-width: 106.2em) {
  .donation-section__title {
    width: 75%;
  }
}

@media only screen and (max-width: 47.8em) {
  .donation-section__title {
    width: 100%;
    text-align: center;
  }
}

.donation-section__col--left {
  text-align: center;
}

.donation-section__img {
  max-width: 100%;
  padding-right: 4rem;
}

@media only screen and (max-width: 47.8em) {
  .donation-section__img {
    padding-right: unset;
    width: 50%;
    margin-bottom: 2rem;
  }
}

.image-slider {
  margin: 0 auto;
  width: 91rem;
}

@media only screen and (max-width: 61.8em) {
  .image-slider {
    width: 100%;
  }
}

@media only screen and (max-width: 47.8em) {
  .image-slider {
    width: 100%;
  }
}

.image-slider__card {
  background-color: #fafafa;
  padding: 0 0 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.9rem;
  -webkit-border-radius: 0.9rem;
  -moz-border-radius: 0.9rem;
  -ms-border-radius: 0.9rem;
  -o-border-radius: 0.9rem;
}

.image-slider__card:hover {
  box-shadow: 0 2px 30px 5px rgba(13, 13, 13, 0.04);
}

.image-slider__image img {
  max-width: 100%;
}

.image-slider__title {
  color: #545454;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  margin: 2.5rem 0;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: transparent;
  width: 5rem !important;
  height: 5rem !important;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2rem 2rem;
  border: 1px solid #f1cdb3;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: #f1cdb3;
}

.swiper-button-prev:focus,
.swiper-button-next:focus {
  outline: none;
}

.swiper-button-prev {
  background-image: url(../src/img/left-arrow.svg);
}

.swiper-button-next {
  background-image: url(../src/img/right-arrow.svg);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.footer {
  background: linear-gradient(to right bottom, #584a41, #2f2825, #1b1b1d, #1b1b1d);
  background-position: bottom right;
  background-repeat: no-repeat;
}

.footer-container {
  padding: 6rem 0;
  height: 100%;
  background-image: url(../src/img/footer-dog.png);
  background-position: bottom right;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 106.2em) {
  .footer-container {
    background-size: 24rem;
  }
}

@media only screen and (max-width: 61.8em) {
  .footer-container {
    padding: 4rem;
    background-size: 20rem;
  }
}

@media only screen and (max-width: 61.8em) {
  .footer-container {
    background-size: 16rem;
  }
}

@media only screen and (max-width: 47.8em) {
  .footer-container {
    background-image: unset;
  }
}

.footer__col {
  width: 25%;
  margin-right: 18rem;
}

@media only screen and (max-width: 106.2em) {
  .footer__col {
    width: 35%;
    margin-right: 5rem;
  }
}

@media only screen and (max-width: 61.8em) {
  .footer__col {
    margin-right: 1rem;
  }
}

@media only screen and (max-width: 47.8em) {
  .footer__col {
    width: 80%;
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 47.8em) {
  .footer__col {
    width: 100%;
  }
}

.footer__title {
  color: #fff;
  margin-bottom: 4rem;
}

@media only screen and (max-width: 47.8em) {
  .footer__title {
    text-align: center;
  }
}

.footer__icon-box {
  width: 4rem;
  height: 3.6rem;
  margin-right: 2rem;
}

.footer__icon {
  width: inherit;
  height: inherit;
  fill: #f1cdb3;
}

.footer__contact-item {
  display: flex;
  align-items: center;
  color: #f1cdb3;
  font-family: "Times New Roman", serif;
  font-size: 2rem;
  letter-spacing: 0.12rem;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 80em) {
  .footer__contact-item {
    font-size: 1.7rem;
  }
}

@media only screen and (max-width: 61.8em) {
  .footer__contact-item {
    font-size: 1.5rem;
  }
}

.footer__address {
  font-style: normal;
}

.footer__link:link, .footer__link:visited {
  color: #f1cdb3;
}

.footer__link:hover {
  color: #fff;
}
