$color-primary: #f1cdb3;
$color-grey-1: #cdcdcd;
$color-grey-2: #b2b2b2;
$color-grey-3: #545454;
$color-grey-4: #4c4c4c;
$color-grey-5: #292929;
$color-light-grey-1: #f6f6f6;
$color-light-grey-2: #fafafa;

$gradient: linear-gradient(to right bottom, #584a41, #2f2825, #1b1b1d, #1b1b1d);

$bp-largest: 106.2em; // 1700 (where normal styles apply)
$bp-large: 80em; // 1280px
$bp-medium: 61.8em; // 991px
$bp-small: 47.8em; // 767px
$bp-smallest: 30.4em; // 478px

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;

  @media only screen and (max-width: $bp-largest) {
    font-size: 58%;
  }

  @media only screen and (max-width: $bp-large) {
    font-size: 55%;
  }

  @media only screen and (max-width: $bp-medium) {
    font-size: 55%;
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 52%;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
}

html,
body {
  width: 100%;
  height: auto;
  overflow-x: hidden;
}

a:link,
a:visited {
  text-decoration: none;
}
